<div class="row">
    <div class="card d-flex flex-row">
      <div class="row col-6">
        <h2>
          Title<%= %>
        </h2>
        <span>By: Noel</span>

      </div>
      <div class="d-flex flex-column">
        <p>Total food items </p>
        <p>Total price </p>
      </div>

    </div>
</div>
