<!-- app/views/recipes/add_ingredient.html.erb -->

<!--<h3>Add Ingredient</h3>-->
<%#= form_with(model: @food, url: save_ingredient_recipe_path(@recipe), local: true) do |form| %>
<!--  <div class="mb-3">-->
    <%#= form.label :food_id, class: "fw-bold form-label" %>
    <%#= form.collection_select :food_id, @foods, :id, :name, prompt: 'Select a food' %>
<!--  </div>-->

<!--  <div class="mb-3">-->
    <%#= form.label :quantity, class: "fw-bold form-label" %>
    <%#= form.number_field :quantity, class: "form-control", placeholder: "Quantity" %>
<!--  </div>-->

<!--  <div>-->
    <%#= form.submit "Add Ingredient", class: 'btn btn-primary' %>
<!--  </div>-->
<%# end %>
